#pin_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.pin_image 
        = image_tag @pin.image.url, class: 'center-block'
      .panel-body
        %h1= @pin.title
        %p.description= @pin.description
      .panel-footer
        .row
          .col-md-6
            %p= @pin.user.email
          .col-md-6
            .btn-group.pull-right{role: 'group'}
              = link_to "Back", root_path, class: 'btn btn-default'
              = link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-default'
              = link_to 'Delete', pin_path(@pin), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default'

