.span12
  .group
    = link_to('New Group', new_group_path, :class => 'btn btn-mini btn-primary pull-right')

  %table.table
    %thead
      %tr
        %td #
        %td Title
        %td Description
    %tbody
      - @groups.each do |group |
        %tr
          %td #
          %td= link_to(group.title, group_path(group))
          %td= group.description
          %td= group.owner.email
          %td
            - if current_user && group.editable_by?(current_user)
              = link_to('Edit', edit_group_path(group), :class => 'btn btn-mini')
              = link_to('Delete', group_path(group), :class => 'btn btn-mini', :method => :delete, :confirm => 'Are you sure?')
             
             
