<h1>Listing links</h1>

<% @links.each do |link| %>
  <ul>
    <div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= link_path(link)%>">Visit Link</a>
      <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= link.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down"></span>
          Downvote
          <%= link.get_downvotes.size %>
        <% end %>
      </div>
      <a href=<%=link.url%>><%= link.title %></a>
      <%= link.url %>
      <%= link_to 'Show', link %>
      <%= link_to 'Edit', edit_link_path(link) %>
      <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
</ul>
  <% end %>

<br>

<%= link_to 'New Link', new_link_path %>
